<!DOCTYPE html>
<html>
<head>
    <title>Tarly | Homepage</title>
    <link rel="icon" href="https://tarly.gg/static/assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Tarly Auth">
    <meta property="og:description" content="Wether you need to send just one message, to create a safe space where to enjoy deep conversations or you are seeking for privacy and fun, we cover all your needs! Join now the beta, and let us know what you think.">
    <meta property="og:image" content="https://tarly.gg/static/assets/favicon.png">
    <meta property="og:url" content="https://tarly.gg">
    <meta property="og:type" content="website">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://tarly.gg/static/css/output.css" rel="stylesheet">
    <script src="https://tarly.gg/node_modules/flowbite/dist/flowbite.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <div style="background-image: url(https://tarly.gg/static/assets/ultrawide1.png);" class="bg-cover bg-center h-[50vh] flex relative items-center justify-start p-4">
        <nav class="absolute top-0 flex items-center justify-between w-auto p-4 bg-transparent">
            <div class="flex items-center">
                <img src="https://tarly.gg/static/assets/favicon.png" class="h-16 w-auto" alt="Logo">
                <h1 class="text-3xl font-bold text-white ml-4">Tarly</h1>
            </div>
            <div class="flex flex-row items-center ml-32 gap-8">
                <a href="/community" class="text-white font-bold hover:underline ml-4">???</a>
                <a href="/contact" class="text-white font-bold hover:underline ml-4">???</a>
                <a href="/faq" class="text-white font-bold hover:underline ml-4">???</a>
                <a href="https://api.tarly.gg" class="text-white font-bold ml-4 hover:underline">???</a>
            </div>
        </nav>
        <div class="flex flex-row justify-between items-center">
            <div class="ml-4">
                <h1 class="text-7xl font-bold text-white mt-4 text-wrap">Just think about this..</h1>
                <p class="text-white mt-2 text-wrap w-full md:w-1/2 p-2 md:p-0 text-lg">Experience the power of real-time communication and connect with people from all around the world. Tarly is a chat app that allows you to send messages, create safe spaces for deep conversations, and have fun while maintaining your privacy. Join our beta program now and let us know what you think!</p>
                <div>
                    <button class="bg-transparent transition duration-200 hover:bg-red-800/50 border-red-700 border-double border-2 text-white font-bold p-4 mt-4 rounded-full flex flex-row items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                        </svg>
                        <a href="/register" class="inline-block">Join Beta</a>
                    </button>
                </div>
            </div>
            <div class="hidden md:block">
                <img src="https://tarly.gg/static/assets/main-page-top.png" class="h-1/2 w-auto" alt="Main Page Top Image">
            </div>
        </div>
    </div>
    <div class="bg-white h-[50vh] relative">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none" class="w-full h-1/2 bg-transparent">
            <path fill="#0e171e" d="M0,96L48,101.3C96,107,192,117,288,144C384,171,480,213,576,218.7C672,224,768,192,864,186.7C960,181,1056,203,1152,218.7C1248,235,1344,245,1392,250.7L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
        </svg>
        
    </div>
</body>
</html>
